html,body {background: #ffffff;margin: 0;font-family: 'Oswald', sans-serif;font-weight:400;}
b{font-weight: 700;}
h1{font-weight: 700;font-size: 4rem;}
h4 {font-weight: 500;}

h5,h6{font-weight: 400;}

p{font-weight: 300;}

hr{border-top: 2px solid rgba(0,0,0,.8);}

.borderMD{border-bottom:1px solid #fff;}
.titulos{font-size: 3.5rem; font-weight: 700;text-align: center;}

.heroSection{background-image: url(../img/backHome.jpg);background-position: center;background-size: cover;padding: 18rem 0 5rem;}
.heroSection .col-md-4:first-child h1{font-weight: 200;}

.navbar-brand {font-family: 'Lobster', cursive;font-size: 35px;}
.nombrePersonal{font-family: 'Lobster', cursive;margin:0;}

.carousel-indicators{position: relative;margin-top: 15px;}
.carousel-indicators li {background-color: #373A3C;width: 15px;height: 15px;border-radius: 15px;border: 0;}

 .card-title{font-weight: 700;}

 @media (min-width: 992px) and (max-width: 1199px){
 }
 @media (min-width: 768px) and (max-width: 991px){
 }
 @media (max-width: 767px){
 	.boxCentrar{text-align: center;}
 	.borderMD{border-bottom:0px;}
 }